@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300;400;500;600;700;800;900&display=swap');
* {
    box-sizing: border-box;
    font-family: 'Red Hat Display', sans-serif;
    list-style: none;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color:rgb(176,177,184);
}
.mr-10 {
    margin-right: 10px;
}
.mr-15 {
    margin-right: 15px;
}
:root {
    --main-bg: rgb(246,247,255);
}
/* ---------------------sidebar------------------------------- */
.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 250px;
    background:var(--main-bg);
    padding: 20px;
    border: 1px solid rgba(104, 85, 128, 0.126);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logo {
    font-size: 1rem;
    font-weight: 800;
    color: rgb(81,69,157);
}
.logo i {
    font-size: 32px;
}
.menu__title{
    padding-bottom: 10px;
    color:rgb(91,88,114);
    font-size: 12px;
}
.menu__item {
    display:flex;
    justify-content: space-between;
    align-items:center;
    padding-bottom: 10px;
    font-size: 13px;
}
.menu__lincs {
    display: flex;
    align-items:center;
}
.menu__icon i {
    display: inline-block;
    font-size: 24px;
    color: rgb(81,69,157);
}
.menu__text {
    font-weight: 500;
    font-size: 12px;
}
.is-gray {
    color:rgb(136,137,151);
}
.board {
    height: 30%;
    border:none;
    border-radius: 12px;
    background: linear-gradient(121deg, rgb(252,238,223) 0%, rgb(222,225,249) 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    color:rgb(93,88,76);
    padding: 20px;
}
.board__title {
    margin: 40px 0 10px 0;
    font-size: 15px;
}
.board__text {
    color:rgb(184,176,172);
    text-align: center;
    font-size: 12px;
    font-weight: 700;
    margin-bottom: 10px;
}
.board__button {
    height: 50px;
    width: 100%;
    border: none;
    border-radius: 8px;
    background:white;
    font-weight: 800;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.board__icon {
    margin-top: -40px;
}
.board__icon i {
    aspect-ratio: 1;
    font-size: 35px;
    background:white;
    color: orange;
    border-radius: 50%;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
/* ---------------page------------------------------------------- */

.page {
    margin-left: 250px;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding: 20px 40px;
    background: var(--main-bg);
    border: 1px solid rgba(104, 85, 128, 0.126);
    padding-bottom: 150px;
}
.search {
    background:white;
    display: flex;
    align-items:center;
    padding-left: 0.5rem;
    border-radius: 4px;
}
.search__input {
    height: 50px;
    width: 200px;
    background:none;
    border:none;
    font-size: 12px;
    outline: none;
    padding: 10px;
}
.search__input::placeholder {
    color:rgba(128, 128, 128, 0.502);
    font-weight: 500;
}
.search__icon i {
    font-size: 25px;
    color:rgba(128, 128, 128, 0.502);
    transform: rotateY(180deg);
}
.icons__item {
    border:none;
    background:none;
    cursor: pointer;
}

.icons__item i {
    color:rgb(0,0,2);
    font-size: 25px;
    padding: 10px;
}
.icons__item i:hover {
    color: rgb(81,69,157);
}
.links *:not(:last-child) {
    margin-right: 2rem;
}
.link {
    font-weight: 600;
    font-size:15px;
}
.user-block {
    display:flex;
    align-items:center;
    justify-content: space-between;
}
.subtitle{
    font-size:15px;
    font-weight: 600;
    color: rgb(35, 35, 35);
}

.avatar img {
    height:40px;
    box-shadow: rgba(37, 37, 37, 0.412) 0px 7px 29px 0px;
    border-radius:8px;
}
/* --------------------cards------------------------ */
.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    width: 300px;
    height: 170px;
    border-radius:20px;
    padding: 30px 20px;
    /* margin-top:-70px; */
}
.cards {
    display: flex;
    justify-content: space-around;
}
.card--blue {
    background: linear-gradient(121deg, rgb(252,238,223) 0%, rgb(222,225,249) 100%);
}
.card--pink {
    background: linear-gradient(121deg, rgb(255,237,204) 0%,rgb(255,225,235) 100%);
}
.card--green {
    background: linear-gradient(121deg, rgb(228,254,187) 0%, rgb(201,246,210) 100%);
}
.card__top {
    display:flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
}
.card__link {
    font-size: 12px;
    text-decoration: underline;
}
.card__bottom {
    display:flex;
    justify-content: space-between;
    align-items: baseline;
    font-size: 20px;
}
.card__item {
    font-size: 15px;
    font-weight: 700;
}
.card__link i {
    font-size: 20px;
    color: gray;
}
.card__bottom--1 {
    display: flex;
    align-items:center;
    justify-content: flex-start;
}
.card__icon i {
    font-size: 40px;
    aspect-ratio:1;
    border-radius:50%;
    background: rgb(254,213,204);
    color:rgb(253,34,22);
    padding: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.card__item--medium {
    font-size: 20px;
    font-weight: 800;
    color:rgb(253,34,22);
}
